<!DOCTYPE html>
<html lang="en" ng-app="grocery-list">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="./app.js"></script>
    <title>Grocery List</title>
  </head>
  <body>

    <input type="text" class="form-control" placeholder="Grocery Name" ng-model="groceryIndexCtrl.newGrocery.name">
    <input type="text" class="form-control" placeholder="Grocery Type" ng-model="groceryIndexCtrl.newGrocery.type">


    <div class="container" ng-controller="GroceryIndexController as groceryIndexCtrl">
      <p><b>groceryIndexCtrl.newGrocery:</b> {{groceryIndexCtrl.newGrocery}}</p>
      <div ng-repeat="grocery in groceryIndexCtrl.groceries">
        {{grocery}}
      </div>
    </div>



  </body>
</html>
