<!DOCTYPE html>
<html lang="en" ng-app="shopping">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shopping</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/ProductsIndexController.js"></script>
    <script src="/scripts/controllers/ProductsShowController.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Shopping List</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <form class="form-horizontal" ng-submit="productsIndexCtrl.createProduct()">
            <fieldset>

              <!-- Form Name -->
              <legend>Add New Item</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Product Name</label>
                <div class="col-md-4">
                <input id="name" ng-model="productsIndexCtrl.newProduct.name" type="text" class="form-control input-md" placeholder="Enter Product" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label">Type</label>
                <div class="col-md-4">
                <input ng-model="productsIndexCtrl.newProduct.type" type="text" class="form-control input-md" placeholder="Type of Product">
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label">Save Item</label>
                <div class="col-md-4">
                  <button class="btn btn-primary">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="container" ng-controller="ProductsIndexController as productsIndexCtrl">
      <div ng-repeat="name in productsIndexCtrl">
        Food Name: {{name}}
      </div>
    </div>

    <div class='panel-footer'>
      <div class='panel-footer'>
        <button class='btn btn-danger' ng-click="productsIndexCtrl.deleteProduct(product)">Delete Item</button>
        <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Item</button>
        <button class='btn btn-success' ng-show="editing" ng-click="productsIndexCtrl.editProduct(product); editing = false">Save Changes</button>
      </div>
    </div>

  </div>

  </body>

</html>
