<!DOCTYPE html>
<html ng-app="taco">
  <head>
    <meta charset="utf-8">
    <title>Taco</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/controllers/tacosController.js"></script>
    <script type="text/javascript" src="/scripts/controllers/tacoShowController.js"></script>

  </head>
  <body>


    <div class="container">
      <div class="col-xs-8 col-xs-offset-2">
        <p>
          hello world
        </p>
        <div ng-view></div>


      </div>

    </div>



  </body>
</html>
